@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7z2h8m');
  src:  url('fonts/icomoon.eot?7z2h8m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7z2h8m') format('truetype'),
    url('fonts/icomoon.woff?7z2h8m') format('woff'),
    url('fonts/icomoon.svg?7z2h8m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-box-add:before {
  content: "\e95e";
}
.icon-download:before {
  content: "\e960";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-point-left:before {
  content: "\ea06";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-IcoMoon:before {
  content: "\eaea";
}
